<div class="p-6 pt-20 pb-20 max-w-6xl mx-auto">

  <main class="flex-1 p-6">

    <div class="flex items-center justify-between">
      <h1 class="text-3xl font-bold text-gray-800">Dashboard</h1>
      <p class="text-gray-400 text-sm border border-gray-200 rounded-full p-2">
        {{ (today | date:"MMM d, y, h:mm a '('zzz')'") }}</p>
    </div>
    <p class="text-gray-600 mt-1">Welcome back! Here is an overview of your surveys.</p>

    <div *ngIf="hasAccess">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-8">
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
          <h3 class="text-gray-500 text-sm">Total Responses</h3>
          <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.totalResponses}}</p>
        </div>
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
          <h3 class="text-gray-500 text-sm">Total Surveys</h3>
          <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.totalSurveys}}</p>
        </div>

        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
          <h3 class="text-gray-500 text-sm">Active Surveys</h3>
          <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.activeSurveys}}</p>
        </div>

        <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
          <h3 class="text-gray-500 text-sm">Total Questions</h3>
          <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.totalQuestions}}</p>
        </div>

      </div>


      <div class="bg-white my-15 p-6 rounded-xl shadow hover:shadow-md transition">
        <p class="text-black border-b-2 border-indigo-600 pb-2 font-semibold text-lg">
          Survey Analytics
        </p>
        <div class="my-4">
          <select (change)="getSurveyStatics($event)"
            class="w-full px-4 py-2 border rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent">
            <option selected disabled>Select a Survey</option>
            <option *ngFor="let survey of statics?.surveys" [value]="survey.id">
              {{ survey.title }} - {{survey.totalResonses}} Responses
            </option>

          </select>
        </div>
      </div>



      <div class="bg-white" *ngIf="showAnalyticsDiv">
        <div class="mx-auto bg-indigo-600 p-6 rounded-t-lg shadow">
          <h4 class="text-2xl font-bold text-white mb-5">{{analytics?.title}}</h4>
          <span class="bg-blue-100 rounded-full p-2 text-sm">{{analytics?.totalResponses}} Total Responses </span>
        </div>
        <div class="border border-gray-200 shadow rounded-b-lg">
          <div class="my-2 p-4 border-b border-gray-100" *ngFor="let question of analytics?.questions;let i = index">
            <h6 class="mb-4 font-bold">{{question.title}}</h6>
            <small class="bg-blue-100 rounded-lg p-1 text-sm ">{{question.questionType |
              questionTypeName}}</small>
            <small class="bg-gray-100 rounded-lg p-1 text-sm mx-2">{{ question.totalResponses }} Total Responses</small>

            <p *ngFor="let text of question.textValues" class="mt-5 p-3 border border-gray-200 rounded-lg">
              "{{text}}"
            </p>

            <div *ngIf="question.averageRating" class="p-10 my-5 bg-gray-100 rounded-lg border-l-4 border-l-black">
              <p class="font-semibold text-2xl">Average Rating: {{question.averageRating}}★</p>
            </div>
            <div *ngFor="let item of question.ratingValues | keyvalue"
              class="flex items-center justify-between bg-white p-4 rounded-lg border border-gray-200 mt-5 border-l-4"
              [class.border-l-red-500]="item.key == '1'" [class.border-l-orange-500]="item.key == '2'"
              [class.border-l-yellow-500]="item.key == '3'" [class.border-l-green-500]="item.key == '4'"
              [class.border-l-blue-500]="item.key == '5'">

              <span class="text-gray-700 font-medium w-24" [class.text-red-600]="item.key == '1'"
                [class.text-orange-600]="item.key == '2'" [class.text-yellow-600]="item.key == '3'"
                [class.text-green-600]="item.key == '4'" [class.text-blue-600]="item.key == '5'">{{ item.key }}★</span>

              <div class="flex-1 mx-4 h-4 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full rounded-full" [ngClass]="getStarColor(item.key)" [style.width.%]="question.totalResponses > 0
                          ? (+item.value / +question.totalResponses) * 100
                          : 0">
                </div>
              </div>

              <span class="text-gray-700 font-medium w-20 text-right">
                {{ item.value }}
                ({{ (+item.value / question.totalResponses * 100) | number:'1.0-0' }}%)
              </span>

            </div>

            <div *ngFor="let item of question.sliderValues | keyvalue"
              class="flex items-center justify-between bg-white p-4 rounded-lg border border-gray-200 mt-5 border-l-4 border-l-indigo-500">

              <span class="text-gray-700 font-medium w-24">{{item.value}}</span>

              <div class="flex-1 mx-4 h-4 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full rounded-full bg-gradient-to-r from-indigo-400 to-indigo-600"
                  [style.width.%]="question.totalResponses > 0 ? (+item.key / 100) * 100 : 0">
                </div>
              </div>

              <span class="text-gray-700 font-medium w-20 text-right">
                ({{item.key}}%)
              </span>

            </div>

            <div *ngFor="let item of question.singleChoiceValues | keyvalue"
              class="flex items-center justify-between bg-white p-4 rounded-lg border border-gray-200 mt-5 border-l-4 border-l-blue-500">

              <span class="text-gray-700 font-medium w-24">{{ item.key }}</span>

              <div class="flex-1 mx-4 h-4 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full rounded-full bg-gradient-to-r from-blue-400 to-blue-600" [style.width.%]="question.totalResponses > 0
                                    ? (item.value / question.totalResponses) * 100
                                    : 0">
                </div>
              </div>

              <span class="text-gray-700 font-medium w-20 text-right">
                {{ item.value }}
                ({{ (item.value / question.totalResponses * 100) | number:'1.0-0' }}%)
              </span>

            </div>

            <div *ngFor="let item of question.multipleChoiceValues | keyvalue"
              class="flex items-center justify-between bg-white p-4 rounded-lg border border-gray-200 mt-5 border-l-4 border-l-blue-500">

              <span class="text-gray-700 font-medium w-24">{{ item.key }}</span>

              <div class="flex-1 mx-4 h-4 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full rounded-full bg-gradient-to-r from-blue-400 to-blue-600" [style.width.%]="question.totalResponses > 0
                          ? (item.value / question.totalResponses) * 100
                          : 0">
                </div>
              </div>

              <span class="text-gray-700 font-medium w-20 text-right">
                {{ item.value }}
                ({{ (item.value / question.totalResponses * 100) | number:'1.0-0' }}%)
              </span>

            </div>

            <div *ngIf="question.yesCount"
              class="flex items-center justify-between bg-white p-4 rounded-lg border border-gray-200 mt-5 border-l-4 border-l-blue-500">

              <span class="text-gray-700 font-medium w-24">Yes</span>

              <div class="flex-1 mx-4 h-4 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full rounded-full bg-gradient-to-r from-blue-400 to-blue-600" [style.width.%]="question.totalResponses > 0
                                                ? (question.yesCount / question.totalResponses) * 100
                                                : 0">
                </div>
              </div>

              <span class="text-gray-700 font-medium w-20 text-right">
                {{ question.yesCount }}
                ({{ (question.yesCount / question.totalResponses * 100) | number:'1.0-0' }}%)
              </span>

            </div>

            <div *ngIf="question.noCount"
              class="flex items-center justify-between bg-white p-4 rounded-lg border border-gray-200 mt-5 border-l-4 border-l-blue-500">

              <span class="text-gray-700 font-medium w-24">Yes</span>

              <div class="flex-1 mx-4 h-4 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full rounded-full bg-gradient-to-r from-blue-400 to-blue-600" [style.width.%]="question.totalResponses > 0
                                                          ? (question.noCount / question.totalResponses) * 100
                                                          : 0">
                </div>
              </div>

              <span class="text-gray-700 font-medium w-20 text-right">
                {{ question.noCount }}
                ({{ (question.noCount / question.totalResponses * 100) | number:'1.0-0' }}%)
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

</div>