<div class="p-6 pt-20 pb-20 max-w-6xl mx-auto">

  <main class="flex-1 p-6">

    <div class="flex items-center justify-between">
      <h1 class="text-3xl font-bold text-gray-800">Dashboard</h1>
      <p class="text-gray-400 text-sm border border-gray-200 rounded-full p-2">
        {{ (today | date:"MMM d, y, h:mm a '('zzz')'") }}</p>
    </div>
    <p class="text-gray-600 mt-1">Welcome back! Here is an overview of your surveys.</p>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-8">
      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <h3 class="text-gray-500 text-sm">Total Responses</h3>
        <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.totalResponses}}</p>
      </div>
      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <h3 class="text-gray-500 text-sm">Total Surveys</h3>
        <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.totalSurveys}}</p>
      </div>

      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <h3 class="text-gray-500 text-sm">Active Surveys</h3>
        <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.activeSurveys}}</p>
      </div>

      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <h3 class="text-gray-500 text-sm">Total Questions</h3>
        <p class="text-3xl font-semibold text-indigo-600 mt-2">{{statics?.totalQuestions}}</p>
      </div>

    </div>



  </main>

</div>